# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editor cruft
*.swp
*.swo
.idea/
.vscode/

